

body { background-color: white;
    margin:0px;  
}

@font-face {font-family: SinkinSans; src: url('SinkinSans-400Regular.otf');}
@font-face {font-family: SinkinSans;font-weight:bold; src: url ('SinkinSans-400Regular.otf';)}

h1
        
header{text-align:center;}

h1{color:#DA8452;font-size:30px;font-family: SinkinSans;text-align:center}

p {color:black;font-size:19px;margin:5px;}
h2{color:#DA8452;font-size:21px;margin:5px;}
header{color:black;font-size:35px}
img {padding: 10px;}

h3{margin:5px;}

h5{font-size:20px;color:#52A8DA;align-content:center;margin:5px;
}

footer {    

   position: fixed;

   left: 0;

   bottom: 0;

   width: 100%;

   background-color:antiquewhite;

   color: black;

   text-align: center;

        }

div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.center {
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:40%;
    height:370px;
    margin-bottom:-50px;
    margin-top:-10px;
    
}

.topnav 
{background-color: #52A8DA;
overflow: hidden;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;   
}

.topnav a:hover {
  background-color: #ddd;
  color: #DA8452;
}

.topnav a.active {
  background-color: #DA8452;
  color: white;
}

b, strong {
    color:#52A8DA
}